{% extends 'base.html' %}
{% block content %}

<h1>Lore</h1>
<p class="lore">Ages before you escape the Undead Asylum, there was nothing but fog. No one lived, no one died. Only dragons existed, eternally watching over everything. This era was called the Age of the Ancients.

    Underground, a magical fire, called the First Flame, suddenly sparked, attracting many humanoid creatures. This legendary Flame created the dichotomies between light and dark, and life and death. Essentially, it put time in motion. Three creatures went into the Flame and claimed a Lord Soul. Gwyn took the Lord Soul of Light, while the Witch of Izalith took the Soul of Life. Nito claimed the Soul of Death. This granted them great power, turning them into living gods.
    
    Meanwhile, the Furtive Pygmy found the Dark Soul, which provided Hollows with a precious thing called Humanity. Thus, humans were born unto this world, but their power paled in comparison to the three Lords.
    
    <br><br><span><a href="//www.svg.com/161177/the-entire-dark-souls-story-explained/">Learn More</a></span> </p>

{% endblock %} 