body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: bisque;
    min-height: 100vh;
    margin: 0;
}

footer {
    margin-top: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}