body {
    min-height: 100vh;
    background-color: #403D39;
    color: #FFFCF2;
}

footer {
    margin-top: auto;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    height: 70px;
    justify-content: space-evenly;
    background-image: linear-gradient(grey, white);
    padding: 0 1em 0 1em;
    margin: -9px;
}

.card {
    border: 1px solid black;

}