{% extends 'base.html' %}
{% block content %}

<h1>Game Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ game.title }}</span>
        <p>Description: {{ game.description }}</p>
        <p>Boss Number: {{ game.boss_number }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'edit_game' game.id %}">Edit</a>
        <a href="{% url 'remove_game' game.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
      <form action="{% url 'add_boss' game.id %}" method="POST">
        {% csrf_token %}
        {{ boss_form.as_p }}
        <input type="submit" class="btn" value="Add Boss">
      </form>
      <br>
      <table class="striped">
        <thead>
          <tr>All Bosses</tr>
        </thead>
        {% for boss in bosses %}
        <tbody>
          <td>{{boss.name}}: </td>
          <td>{{boss.description}}</td>
        </tbody>
          
          {% endfor %}
      </table>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>Weaknesses</h3>
    {% if game.weakness.count %}
      {% for weakness in game.weakness.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{weakness.name}}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassign_weakness' game.id weakness.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Weaknesses</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Strengths</h3>
    {% if weakness.count %}
      {% for weakness in weakness.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ weakness.name }}</span>
          </div>
          <div class="card-action">
            <form action="{% url 'assign_weakness' game.id weakness.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{game.name}} Already Has All weaknesses Available</h5>
    {% endif %}
  </div>
</div>



{% endblock %}